html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-bg {
  width: 100%;
  height: 100vh;

  /* gambar tetap utuh */
  background-image: url('/backgroundmain.png');
  background-size: contain;       /* <- tidak akan crop */
  background-repeat: no-repeat;
  background-position: center;

  /* area kosong hitam */
  background-color: #000;

  display: flex;
  align-items: center;
  justify-content: center;
}


